.usersPhoto {
    width: 100px;
    height: 100px;
}

.active {
    font-weight: bold;
}

.center, .loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    height: 300px;
}

.followUnfollow {
    margin: 10px 0 0 0;
}

.usersProfiles {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px 0 0 0;
    justify-content: center;
}

.usersPage {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 50px 0 0 0;
}

.users {
    padding: 0 0 20px 0;
}